# Ignore virtual environment. 
.venv/

# Ignore project files. 
.vscode/

# Ignore packaging files.
encrypt_tool.egg-info/

# Ignore __pycache__. 
encrypt_tool/__pycache__/

# Ignore dist. 
dist/encrypt_tool-1.0.0-py3-none-any.whl

# Ignore working files
working/
